DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=system_watcher

PORT=3000


MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASSWORD=

MAIL_SENDER_DEFAULT="no-reply@example.com"
MAIL_SENDER_NAME_DEFAULT="SystemWatcher"
MAIL_ALERT_TO="destinatario@example.com"